div.twitch-player {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 950px) {
  .twitch-player div iframe {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 650px) {
  div.twitch-player iframe {
    height: 340px;
  }
}

/* 1ST TWITCH PLAYER CSS STYLE SHEET*/
/* #root {
  width: 100%;
  height: 100%;
}

.twitch-player div {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1150px) {
  .twitch-player div {
    margin-top: 10vh;
    height: auto;
    width: auto;
  }
}

@media screen and (max-width: 950px) {
  iframe {
    width: 150%;
    height: 20%;
  }

  .twitch-player div {
    margin-top: 5vh;
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  iframe {
    height: 50px;
  }
} */
