.twitch-player {
  margin-top: 30vh;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 950px) {
  iframe {
    width: 300%;
    height: 400%;
  }

  .twitch-player {
    display: flex;
    justify-content: flex-start;
  }
}
