section {
  z-index: -1;
}

div.mixcloud-home {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
}

@media screen and (max-width: 915px) {
  div.mixcloud-home {
    width: 65%;
  }
}

@media screen and (max-width: 500px) {
  div.mixcloud-home {
    width: 100%;
  }
}
