section {
  z-index: -1;
}

div.mixcloud-home {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
}

div.bio {
  color: white;
  padding: 15px;
}

div.container-book-now {
  margin: 0;
  padding-top: 1.5rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

button.book-now {
  margin-top: 1rem;
  font-size: medium;
}

/* SCROLLBAR */
#bio {
  background-color: rgba(0, 0, 0, 0.500);
  width: 500px;
  height: 200px;
  overflow-y: scroll; /* Adding the ability to scroll */
}

/* Hiding scrollbar for Chrome, Safari and Opera */
#bio::-webkit-scrollbar {
    display: none;
}

/* Hiding scrollbar for IE, Edge and Firefox */
#bio {
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

@media screen and (min-width: 900px) {

  div.container-book-now {
    padding-top: 6rem;
  }
  #bio {
    width: 800px;
    height: 300px;
  }
}

@media screen and (max-width: 550px) {
  div.mixcloud-home {
    width: 100%;
  }

  div.container-book-now {
    padding-top: 8rem;
  }
  #bio {
    width: 350px;
    height: 200px;
  }
}

@media screen and (max-width: 400px) {

  div.container-book-now {
    padding-top: 0rem;
  }
  #bio {
    width: 300px;
    height: 160px;
  }
}

