@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

footer {
  display: flex;
  justify-content: space-around;
  color: rgb(29, 29, 29);
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  background-color: rgba(0, 0, 0, 0);
}

.footer__socials {
  background-color: rgba(0, 0, 0, 0.418);
  display: flex;
  justify-content: center;
  padding: 5% 0 2%;
  position: relative;
}

.footer-copyright {
  background-color: rgba(0, 0, 0, 0.418);
}
