* {
  background-color: black;
}

/* body {
  display: flex;
  justify-content: center;
} */

.App {
  font-family: 'PT Sans', sans-serif;
}

li {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  text-align: center;
}
