* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}

.logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(211, 211, 211);
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

@media screen and (max-width: 830px) {
  .nav-links {
    width: 60%;
    letter-spacing: none;
    font-size: 1em;
  }
}

@media screen and (max-width: 730px) {
  .nav-links {
    display: none;
  }
}
