.twitch-player {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 850px) {
  iframe {
    width: 200%;
    height: 400%;
  }

  .twitch-player {
    display: flex;
    justify-content: start;
  }
}
